/* header */
h1 {
  display: block;
}

/* body */
body {
  background-color: #ff6347;
}
.container {
  margin-top: 3rem;
}

/* button */
.input-group-prepend {
  .btn {
    background-color: #11D100;
    color: #fff;
    border: none;
  
    &.btn-outline-secondary {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0px;
    }
  }
}

/* input */
.input--add-item {
  margin: 1rem;
}

li {
  list-style-type: none;
}

.list--wrapper {
  position: relative;
  // right: 108px;
  ul {
    padding-left: 0;
    li.list--item {
      font-size: 1rem;
      // border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 8px;
      width: 100%;
      color: #333;
      background-color: #fff;
      margin-bottom: 0.5rem;
      &:hover {
        background-color: #FFDCDC;
        // color: #fff;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
      }
    }
    li.list--item.fadeOut {
      transition: all 1s ease-in-out;
      opacity: 0;
    }
  }
    
}

form {
  // width: 25%;
}
.form-control {
  // display: inline-block;
  // width: 72%;
}

